astroid==2.2.5
autopep8==1.4.3
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
cssselect==1.0.3
feedfinder2==0.0.4
feedparser==5.2.1
geograpy3==0.1.2
geotext==0.4.0
idna==2.8
isort==4.3.16
jellyfish==0.7.1
jieba3k==0.35.1
lazy-object-proxy==1.3.1
lxml==4.3.3
mccabe==0.6.1
newspaper3k==0.2.8
nltk==3.4
numpy==1.16.2
Pillow==5.4.1
pycodestyle==2.5.0
pycountry==18.12.8
pylint==2.3.1
python-dateutil==2.8.0
PyYAML==5.1
requests==2.21.0
requests-file==1.4.3
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9
tinysegmenter==0.3
tldextract==2.2.1
typed-ast==1.3.1
urllib3==1.24.1
wrapt==1.11.1
